Flask==3.1.0
gunicorn==20.1.0
beautifulsoup4==4.12.3
bleach==6.2.0
click==8.1.8
decorator==5.1.1
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
requests==2.32.3
Werkzeug==3.1.3
